<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Update Image
    </div><!-- /.panel-title -->
  </div><!-- /.panel-heading -->

  <div class="panel-body">
		<%= render 'form' %>
	</div><!-- /.panel-body -->

	<div class="panel-footer">
		<%= link_to 'Back to Image', @pin %>
	</div><!-- /.panel-footer -->
</div>