<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Upload Image
    </div><!-- /.panel-title -->
  </div><!-- /.panel-heading -->

  <div class="panel-body">
		<%= render 'form' %>
	</div><!-- /.panel-body -->
</div>