<div class="jumbotron">
	<h1>Welcome to imgrr!</h1>
	<p>imgrr is the premiere destination for bears on the intarwebz. Please won't you help us save the bears?</p>
		<p class="center">
			<%= link_to "sign in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
</div>