<h1>About imgrr</h1>
<hr size="1" noshade="noshade">
<p>Howdy,</p>
<p>imgrr (image-grr) is my first ever experience using Ruby on Rails, created with the very awesome <a href="https://onemonth.com/courses/one-month-rails?referral_code=ZwyfhoygCE9X&utm_medium=referral_program&utm_source=copy_btn">One Month Rails</a> class. Thanks for checking it out!</p>
<p>- <a href="https://twitter.com/jcurreee">@jcurreee</a></p>